.navbar{
    position: unset !important;
}
.ao:hover .menu-ao{
    display: block;   
    
}
.ao:hover {
    border-bottom: 1.5px solid black;
}
.header{
    border-bottom: 1px solid #f0f2f5;
    box-shadow: 0px 0px 6px 1px #cbcaca;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    position:unset !important;
}
.header-menu{
    margin: 0 60px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap:0 20px;
}
.menu li{
    padding: 5px;
    cursor: pointer;
  
    letter-spacing:2px;

}
.headerPage{
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-header{
    width: 200px;
    height: 60px;
}
.header-phone{
   width: 100%;
}
.ao{
    height: 60px;
    display: flex;
    align-items: center;
}
.icon-header{
    width: 20px;
    height: 20px;
}
.ant-menu-overflow{
    justify-content: center;
}
.icon-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 10px;

}
.input-drawer{
    /* background-color: #ededed !important; */
    height: 55px;
    margin-top: 50px;
}