.node-detail-info{
    display: flex;
    align-items: start;
    gap: 5px;
  }
  .node_icon{
    
    border-radius: 5px;
    padding: 10px;
  }
  .node_trigger_icon{
    background-color: rgb(174, 0, 255);
  }
  .node_action_icon{
    background-color: blue;
  }