.fielItem{
    padding:0 15px;
}
.ant-slider-handle{
    border: none;
    background-color: black;
    

}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: red !important;
    border-color: red !important;
  }
.ant-slider:hover .ant-slider-track{
    background-color: black !important;

}
.ant-slider-track{
    background-color: black !important;
}
.ant-slider-track:hover{
    background-color: black !important;
}
.ant-slider-track::selection{
    background-color: black !important;
}

.ant-slider-rail{
    background-color: #ffff !important;
    border: 1px solid black !important;
}
.list-field-product{
    list-style: none;
    margin-top: 6px !important;
    padding-left: 10px !important;
    
}
.ant-slider-handle{
    border:2px solid black !important;
}

.select-color{
    height: 15px;
    width: 15px;
    border: 0.15px solid rgb(227, 225, 225);
    cursor: pointer;

}
.select-size{
    height: 15px;
    width: 15px;
    border: 0.15px solid rgb(227, 225, 225);
    cursor: pointer;


}
.select-rate{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box{
    width: 15px;
    height: 15px;
    position: relative;
}
.size-box{
    border: 1px solid black;
    
}
.box-icon{
    font-size: 12px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    object-fit: cover;
    transform: translate(-50%,-50%);
}
