.cart-info{
    display: flex !important;
    align-items: center;
    gap: 0 10px;

}
.cart-title{
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.cart-remove{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}
.cart-product{
    padding-bottom: 30px;
    border-bottom: 0.5px solid black;
}