.main-page {
    margin-top: 60px;
}

.fullScreen {
    position: relative;
}

.menu_left {
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding-top: 50px !important; */
}

.icon-phone {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.ant-layout-footer {
    padding: 0 !important;
    padding-top: 30px !important;
    background-color: #ffff !important;
}

.service-description {
    font-size: 12px;
}

.service-image {
    width: 55px;
    height: 55px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: transform .7s ease-in-out;
}

.service-image:hover {
    transform: rotate(360deg);

}

.footer-info {
    background-color: #ffff;
    margin: 0 27px;
    padding: 20px 0;
    border-bottom: 2px solid black;
}

.support-item {
    font-size: 12px;
    padding: 0px !important;
    height: 28px !important;
    display: flex !important;
    align-items: center;
}

.btn-info {
    width: 100%;
    color: #ffff;
    background-color: #A73340;
    padding: 5px 0;
    margin: 10px 0;
}

.footer-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    position: relative;
    bottom: 10px;
}

.icon-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    z-index: 100;
    cursor: pointer;
}

.logo_avatar {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.divider {
    height: 1px;
    background-color: white;
    margin-top: 10px;
}

.user_avatar {
    position: absolute !important;
    height: 50px;
    width: 50px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.user_info{
    border: 1px solid #fafafa;
    border-radius: 10px;
    padding:10px 0;
    color: #393f46;
    background-color: #fafafa;
    box-shadow:0 calc(10px * var(--shadow-yoffset, 1)) 40px -4px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.14)), 0 calc(12px * var(--shadow-yoffset, 1)) 28px -12px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.2));
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    width: 230px;
    left: 100%;
    top: -120px;
    z-index: 1000000;
}

.user_info_detail{
    display: flex;
    gap: 10px;
    padding: 6px 10px;


}
.user_info_detail:hover{
    background-color: #fff;


}
.menu_item {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    color: white;
    padding-left: 15px;
    gap: 0 5px;

}

.menu_item_childen {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    border-radius: 20px 0 0 20px;
}
.menu_item_childen_click{
    background-color: white;
    color: #1890ff;
}